html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 1600px;
  height: 1455px;
}

.logo {
  height: 22px;
  width: 80px;
  float: left;
  padding-top: 39px;
  padding-bottom: 39px;
}

.main-menu {
  height: auto;
  overflow: hidden;
  padding-left: 245px;
  padding-right: 245px;
}

.menu-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 23px;
  color: rgb(15, 1, 1);
  text-decoration: none;
}

.menu-link:hover {
  color: rgb(26, 188, 156);
}

.menu {
  height: 100px;
  overflow: hidden;
  float: right;
  font-size: 0px;
  width: 537px;
  padding-left: 0px;
}

.menu-item {
  float: left;
  margin-left: 36px;
  margin-top: 38px;
  margin-bottom: 38px;
}
.slider-card {
  position: relative;
  height: 600px;
  width: 1600px;
  margin: 0;
}
.slider-control {
  height: 104px;
  width: 104px;
  border: none;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}
.slider-previous {
  left: 15%;
  top: 38%;
}
.button {
  position: absolute;
  top: -10%;
 left: 50%;
 transform: translateX(-50%);
}
.slider-next {
  right: 15%;
  top: 38%;
}

